# NextAuth - generate with: openssl rand -base64 32
NEXTAUTH_SECRET=your-secret-key
NEXTAUTH_URL=https://bhasha-media-ai.vercel.app/

# AWS Lambda Function URL for content generation
NEXT_PUBLIC_LAMBDA_URL=https://humutolm65f3ildxsj5pfy4ohu0dywdi.lambda-url.ap-southeast-2.on.aws/
